@font-face {
  font-family: Oxygen;
  src: url(../../fonts/Oxygen.otf);
}
body {
    margin: 2;
    background-image: url(../../images/background.jpg);
    background-attachment: fixed;
    font-size: 14px;
    font-family: Oxygen, "Arial", sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 30px;
}
div{
	margin: auto;
}
form div{
	width: 300px;
    font-size: 15pt;
	color: black;
	font-family: "Arial";
	font-style: normal;
	font-weight: normal;
	padding: 2px;
	margin-bottom: 10px;
}
input {
    border-radius: 2px;
    font-size: 14px;
}
label {
	display:inline-block;
	width: 150px;
	vertical-align: top;
    font-size: 14px;
}
#reqstar {
	font-size: 12pt;
	color: red;
	font-family: "Arial";
	font-weight: bold;
}
#sidebar {
	margin-top: 200px; 
	padding-top: 200px;
}
select {
	width: 200px;
	border: 1px solid #999;
    font-size: 14px;
}
input.pole {
	width: 200px;
	border: 1px solid #999;
}
.input-prepend input {
	width: 160px;
}
textarea {
	width: 250px;
	height: 100px;
	border: 1px solid #999;
    font-size: 14px;
}
label.biglabel {
	display:inline-block;
	width: 215px;
	vertical-align: top;
}
.starter-template {
	margin-top: 70px; 
	margin-bottom: 20px;
    text-align: center;
    width: inherit;
}