@font-face {
  font-family: Oxygen;
  src: url(fonts/Oxygen.otf);
}
button, button:active, button:focus, input {
  border: none;
  outline: none;
}
input {
  border: 1px solid #999;
}
/* Delete buttons in input[type="number"] */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
header {
  width: 100%;
}
body {
  margin: 0px;
  color: black;
  background-color: #96CDCD;
  background-image: url("images/background.jpg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 15px;
  font-family: Oxygen, Arial, sans-serif;
}
p {
  font-weight: normal;
  text-indent: 20px;
}
section {
  display: relative;
} 
footer { 
  background-color: black;
  margin-top: 20px;
  width: 100%;
  height: 80px auto;
  padding-bottom: 10px;
  bottom: 0;
  clear: both;
}
footer p {
  font-size: 12pt;
  color: white;
  text-align: center;
  padding-top: 20px;
}
svg {
  border: 1px solid #999;
  border-radius: 15px;
}
.first {
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
  margin-top: 100px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: black url(images/first.jpg);
  background-size: cover;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.5);
}
.first p {
  margin-top: 50px;
  font-size: 24px;
  color: #00ffaa;
}
.welcome-signup-h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}
.welcome-signup-p {
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
}
a.btn-success {
  display: inline-block;
  width: 200px;
  height: 100%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  margin-right: 0 auto;
  margin-bottom: 100px;
  margin-left: 0 auto;
  font-size: 40px;
  text-decoration: none;
  color: white;
  transition: color 0.1s ease-in 0s;
}
a.btn-success:hover {
  color: darkgreen;
  transition: color 0.1s ease-in 0s;
}
.quadro-avatar {
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
#carousel img {
  width: 70%;
  margin: auto;
}
#tour {
  min-width: 100px;
  min-height: 0px;
  margin: auto;
  padding: 5px;
  text-align: center;
}
#tour button {
  background: rgba(12, 253, 76, 0.8);
  color: #000;
  padding: 5px;
  border-radius: 5px;
}
#tour button:hover {
  background: rgba(42, 189, 76, 0.8);
}
.photos-tour {
  display: none; /* none */
  list-style: none;
  margin: 20px;
}
.photos-tour div {
  display: inline-block;
  position: relative;
  max-width: 300px;
  max-height: 165px;
}
.photos-tour img {
  display: block;
  width: 300px;
  height: 165px;
}
.photos-tour span {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  color: #fff;
  background: rgba(0,0,0, 0.7);
}
.vacation {
  display: none;
}
.vacation input {
  width: 40px;
}
.books {
  margin: 30px 20px;
  text-align: center;
}
.book {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.books img {
  width: 200px;
  height: 300px;
}
.books img.sale {
  display: none;
  position: absolute;
  right: -80px;
  top: -50px;
  width: 180px;
  height: 100px;
}
.books-box {
  max-width: 600px;
  background-color: darkcyan;
  box-shadow: 0px 0px 10px #000;
}
.price-blinked {
  color: darkslategray;
  text-shadow: 0px 0px 6px #fff;
}
.svg-ico {
  display: inline-block;
  width: 64px;
  height: 64px;
  transform: rotate(0deg);
  transform-origin: center;
  transition-duration: 3s 
}
.svg-ico:hover {
  transform: rotate(360deg);
  transform-origin: center;
  transition-duration: 3s 
}
img.shadow {
  box-shadow: 0px 0px 50px blue;
  box-sizing: border-box;
}
#chapter {
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  width: 210px;
  background-color: #e9e9e9;
}
a#wikihtml:link {
  color: red;
    text-decoration: none;
}
a#wikihtml:visited {
  color: red;
}
div.heading {
    margin: 0;
    width: 100%;
    background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
}




.download img {
  width: 50px;
}
