/* https://www.iconfinder.com/iconsets/miu-hexagon-shadow-social */
#facebook-ico {
	background-image: url("/ico/facebook-ico.svg");
}
#instagram-ico {
	background-image: url("/ico/instagram-ico.svg");
}
#twitter-ico {
    background-image: url("/ico/twitter-ico.svg");
}
#github-ico {
	background-image: url("/ico/github-ico.svg");
}
#mail-ico {
	background-image: url("/ico/mail-ico.svg");
}
#skype-ico {
    background-image: url("/ico/skype-ico.svg");
}